.thumb-image {
  height: 300px;
  width: auto;
  transform: rotate(10deg);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.remove-bg {
  background-color: transparent;
}

.hero.is-primary a {
  color: #105d51 !important;
  text-decoration: underline;
 }

 .footer {
   padding-bottom: 3rem;
 }

 .github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

